body {
	margin: 0px;
	font-family: Calibri, Arial, sans-serif;
	font-size: 16px;
	color: gray;
	background-color: #404040;
	min-width:540px;
	overflow:hidden;
}

.headbar{
	position:fixed;
	top:0px;
	width:100%;
	height:100px;
	background:linear-gradient(#808080,#262528);
	box-shadow:0px 5px 10px 0px black;
	margin:0px;
	z-index:100;
}

#navigation{
	font-size:1.2em;
	padding:0px 0px 0px 0px;
	margin-left:20px;
	float:left;
}

a{
	color:#808080;
	text-decoration:none;
}

a.three:link, a.three:visited{
	display:block;
	color: gray;
	background-color:#404040;
	width: 20%;
	height:30px;
	text-align:center;
	padding-top:5px;
	text-decoration:none;
	position:fixed;
	z-index:10;
	box-shadow:0px 5px 10px 0px black;
	transition: all 0.3s ease-in-out 0s;
}

a.three:hover, a.three:active {
	background-color:#404040;
}

a.four:link, a.four:visited{
	display:block;
	color: gray;
	background-color:#262528;
	width: 20%;
	height:30px;
	text-align:center;
	padding-top:5px;
	text-decoration: none;
	position:fixed;
	z-index:10;
	box-shadow:0px 5px 10px 0px black;
	transition: all 0.3s ease-in-out 0s;
}

a.four:hover, a.four:active {
	background-color:#404040;
}

#info {
	position:absolute;
	width:100%;
	font-size:150%;
	font-weight:bolder;
	padding:20px;
	line-height:50px;
	text-align:center;
}

#cambutton{
	background-color:#262528;
	color:gray;
	text-decoration:none;
	border:1px solid black;
	border-radius:5px;
	padding:20px 40px 20px 40px;
	box-shadow:0px 5px 10px 0px black;
	transition: all 0.3s ease-in-out 0s;
}

#cambutton:hover{
	background-color:#404040;
}

#button{
	background-color:#262528;
	color:gray;
	text-decoration:none;
	border:1px solid black;
	padding:6px 20px 6px 20px;
	box-shadow:0px 5px 10px 0px black;
	transition: all 0.3s ease-in-out 0s;
}

#button:hover{
	background-color:#404040;
}

#menubutton{
	display:inline-block;
	background-color:#262528;
	color:gray;
	text-decoration:none;
	border:1px solid black;
	border-radius:10px;
	width:100%;
	padding-top:20px;
	padding-bottom:20px;
	margin-top:20px;
	box-shadow:0px 5px 10px 0px black;
	transition: all 0.3s ease-in-out 0s;
}

#menubutton:hover{
	background-color:#404040;
}

 #infotext{
	color:gray;
}

#menubox {
	position:absolute;
	margin-top:20px;
	display:block;
	color:gray;
	width:50%;
	left:25%;
	font-weight:bolder;
	font-size:150%;
	line-height:50px;
	text-align:center;
	clear:both;
}

.gallery{
	margin-top:140px;
	display:inline-block;
}

div.img {
	border: 1px solid #1a1a1a;
	border-radius: 10px;
	box-shadow:5px 5px 10px 0px black;
	transition: all 0.1s ease-in-out 0s;
}

div.img:hover {
    border: 1px solid #808080;
	border-radius: 10px;
	box-shadow:5px 5px 10px 0px black;
	transform: scale(1.04,1.04);
}

div.img img {
	width: 100%;
    height: auto;
	border-radius: 10px 10px 0px 0px;
}

div.desc {
	padding: 10px;
    text-align: center;
	border-radius: 0px 0px 10px 10px;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 8px 8px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 1000px){
    .responsive {
        width: 33.3333%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 800px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media handheld, only screen and (max-width: 600px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}